//Colors
$primary-color: #0271bc; //blue
$action-color: #f26002; //orange
$secondary-color: #ffffff;
$light-color: #8ccbea; //light blue
$lighter-color: #eff9ff; //lighter blue
$dark-color: #304268; //dark blue

//Fonts
$primary-font: 'Roboto';
$secondary-font: 'Roboto Slab';

//Margins
$container-space: .9em; //espace container
$font-space: 30px; //espace font
