$primary-color: #0271bc; //blue
$action-color: #f26002; //orange
$secondary-color: #ffffff;
$light-color: #8ccbea; //light blue
$dark-color: #304268; //dark blue
$primary-font: 'Roboto';
$secondary-font: 'Roboto Slab';
