//Text insomnia from looking section
.insomnia-tips {
    color: $light-color;
    font-family: $primary-font;
    font-size: 14px;
    text-align: left;
    padding-top: 2.5em;
    line-height: 30px;

    @media all and (min-width: 768px){
        padding-left: 5%;
        padding-right: 5%;
    }

    @media all and (min-width: 1280px){
        font-size: 16px;
        padding-left: 20%;
        padding-right: 20%;
    }
}

//Title looking Through from looking section
.looking-window {
    font-size: 24px;
    font-family: $secondary-font;
    font-weight: bold;
    text-align: left;
    line-height: $font-space;

    @media all and (min-width: 768px) {
        font-size: 26px;
        line-height: 45px;
        padding-left: 5%;
        padding-right: 5%;
    }

    @media all and (min-width: 1280px){
        font-size: 32px;
        line-height: 45px;
        padding-left: 20%;
        padding-right: 20%;
    }
}

//Paragraph from looking section
.looking-text {
    margin-top: $container-space;
    font-family: $primary-font;
    font-size: 18px;
    font-weight: 400;
    color: $dark-color;
    text-align: left;
    line-height: $font-space;

    @media all and (min-width: 768px) {
        font-size: 20px;
        padding-left: 5%;
        padding-right: 5%;
    }

    @media all and (min-width: 1280px){
        padding-left: 20%;
        padding-right: 20%;
    }
}

//Reasons section
#reasons {
    background-color: $lighter-color;
    height: 100%;
}

//Title from reasons section
.three-txt {
    font-family: $secondary-font;
    font-size: 24px;
    font-weight: 700;
    line-height: $font-space;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 15%;

    @media all and (min-width: 768px) {
        font-size: 26px;
        line-height: 45px;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    @media all and (min-width: 1280px) {
        font-size: 32px;
    }
}
