.grid-reasons{
    display: grid;
    grid-template-columns: 1fr 32% 32% 1fr;
    grid-column-gap: 7%;
    grid-template-rows: 1fr 1fr 1fr;
    width: 95%;
    margin: auto;

    @media all and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    @media all and (min-width: 1280px) {
        grid-column-gap: 5%;
    }
}

.reason1 {
    grid-column: 2/4;

    @media all and (min-width: 768px) {
        grid-column: 1;
    }

}

.reason2 {
  grid-column: 2/4;

  @media all and (min-width: 768px) {
      grid-column: 2;
  }
}

.reason3 {
  grid-column: 2/4;

  @media all and (min-width: 768px) {
      grid-column: 3;
  }
}

.btn-more-reasons {
    grid-column: 2/4;
    margin-top: 3em;
}

//Subtitle from reasons section
.subtitle-reason {
    font-family: $secondary-font;
    @include text();
    font-weight: 700;
    text-align: center;
    padding-top: .6em;

    @media all and (min-width: 768px) {
        font-size: 24px;
    }

    @media all and (min-width: 1280px) {
        padding-top: .1em;
    }
}

.txt-reason {
    font-family: $primary-font;
    @include text();
    text-align: center;
    padding-bottom: 2em;

    @media all and (min-width: 768px) {
        font-size: 20px;
        padding-top: 7%;
    }

    @media all and (min-width: 1280px) {
        padding-top: 4%;
    }
}
