//Navigation section
.navigation {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    transition: transform ease 1s .4s, background ease 0.5s;
    transform: translateX(-150%);

    .menu-show & {
        transform: translateX(0);
        width: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: transform ease .8s, background ease .8s .8s;
}
}
.bckg-fade {
    width: 100%;
    margin: 0;
 background-color: rgba(0, 0, 0, 0);

}

//Container from navigation
.menu-hidden {
    position: relative;
    height: 100vh;
    width: 276px;
    background-color: $secondary-color;
}

//Menu to show
.menu-show .navigation {
    transform: translateX(0);
}

//Elements list from menu
.menu-list {
    list-style: none;
    display:block;
    padding-top: 44px;
}

.menu-item {
    padding: 10px 15px;
    border-top: 1px solid rgba($light-color, 0.3);
}
.last-item {
    border-bottom: 1px solid rgba($light-color, 0.3);
}

.menu-link {
    font-family: $secondary-font;
    font-weight: 300;
    color: $dark-color;
    display: block;
    text-decoration: none;
}
