//Dropdown botton menu
.btn-menu {
    display: flex;
    position: absolute;
    width: 44px;
    height: 44px;
    background-color: $primary-color;
}

.ico-menu {
    margin: 0 auto;
}

//Button close menu shown
.btn-close {
    width: 44px;
    height: 44px;
    background-color: $action-color;
    position: absolute;
    top: 0;
    left: 100%;
}

.ico-close {
    margin: 0 auto;
}

//Button down from hero section
.btn-down {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $secondary-color;
    margin: 0 auto;
    margin-top: 16%;
}

.ico-down {
    margin: 0 auto;
}

//Button go from looking section
.btn-go {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $action-color;
    margin-top: 16%;
    display: flex;
    margin-bottom: 15%;
}

.txt-go {
    font-family: $primary-font;
    font-size: 1.2em;
    font-weight: 400;
    line-height: $font-space;
    color: $action-color;
    margin: auto;
}

//Button more reasons from reasons section
.btn-more-reasons {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $action-color;
    display: flex;
    margin: 0 auto;
}

.txt-more-reasons {
    font-family: $primary-font;
    font-size: 1.2em;
    font-weight: 400;
    line-height: $font-space;
    color: $secondary-color;
    margin: auto;
}

//Button up from footer
.btn-up {
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $secondary-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
}

.arrow-btn-up {
    margin: 0 auto;
}
