//Dropdown botton menu
.btn-menu {
    display: flex;
    position: absolute;
    width: 44px;
    height: 44px;
    background-color: $primary-color;
    border: none;
}

.ico-menu {
    margin: 0 auto;
}

//Button close menu shown
.btn-close {
    width: 44px;
    height: 44px;
    background-color: $action-color;
    position: absolute;
    top: 0;
    left: 100%;
    border-color: $action-color;
}

.ico-close {
    margin: 0 auto;
}

//Button down from hero section
.btn-down {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $secondary-color;
    margin: 0 auto;
    margin-top: 2.8em;

    @media all and (min-width: 768px) {
        margin-top: 1.8em;
    }

    @media all and (min-width: 1280px) {
        margin-top: 1%;
    }
}

.ico-down {
    margin: 0 auto;
}

//Button go from looking section
.btn-go {
    display: flex;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $action-color;
    margin-top: 2.5em;
    margin-bottom: 3em;
    color: $action-color;

    @media all and (min-width: 768px) {
        width: 91px;
        margin-left: 5%;
    }

    @media all and (min-width: 1280px){
        width: 160px;
        margin-left: 20%;
        margin-right: 20%;
    }
}

.btn-over {
    background-color: $action-color;
    color: $secondary-color;
}

.txt-go {
    font-family: $primary-font;
    font-size: 1.2em;
    font-weight: 400;
    line-height: $font-space;
    margin: auto;
}

//Button more reasons from reasons section
.btn-more-reasons {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $action-color;
    border-color: $action-color;
    display: flex;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 5.2em;

    @media all and (min-width: 768px) {
        width: 210px;
    }

    @media all and (min-width: 1280px) {
        width: 255px;
    }
}

.txt-more-reasons {
    font-family: $primary-font;
    font-size: 1.7em;
    font-weight: 400;
    line-height: $font-space;
    color: $secondary-color;
    margin: auto;
}

//Button up from footer
.btn-up {
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $secondary-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
}

.arrow-btn-up {
    margin: 0 auto;
}
