//Button down from hero section
.btn-down {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $secondary-color;
    margin: 0 auto;
    margin-top: 16%;
}

.ico-down {
    margin: 0 auto;
}

//Button go from looking section
.btn-go {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $action-color;
    margin-top: 16%;
    display: flex;
}

.txt-go {
    font-family: $primary-font;
    font-weight: 400;
    line-height: $font-space;
    color: $action-color;
    margin: auto;
}
