//Hero background
#hero {
    background: url("/images/cover.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
}

//Title from hero section
.hero-text-title {
    padding-top: 50vh;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 42px;
    color: $secondary-color;
    line-height: 55px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    text-align: center;

    @media all and (min-width: 768px) {
        font-size: 80px;
        line-height: 106px;
    }

    @media all and (min-width: 1280px) {
        font-size: 100px;
        line-height: 132px;
    }
}

//Text from hero section
.hero-text-paragraph {
    padding-top: 4%;
    font-family: $primary-font;
    font-weight: 300;
    color: $secondary-color;
    text-align: center;

    @media all and (min-width: 768px) {
        font-size: 24px;
        padding-top: 0%;
    }
}
